<%- include('partials/header') %>
<h1>Contact Us</h1>
<h3>Shlok Agrawal</h3>
<h6>Email - shlokagrawal188@gmail.com</h6>
<h6><a href="https://www.linkedin.com/in/shlok-agrawal-365b74157/">Linkedin</a></h6>
<h6><a href="https://github.com/shlokagrawal">Github</a></h6>
<%- include('partials/footer') %>